@import "./mixin_functions.scss";
@import "./snow.scss";
@import "./variables.scss";

.is-container {
  position: relative;
  min-height: 70vh;
  transition: $transition-1;
}

.weatherbox-container {
  margin-top: 3rem;
}

.weather-box {
  min-height: 50vh;
  border: 3px dashed rgb(123, 255, 0);
  border-radius: 1rem;
  box-shadow: 1px 1px 10px black;
  background-color: #fff;
}
