/*

  =========== mixin functions ===========

*/

@mixin setBorder($width, $type, $color, $direction: "") {
  border#{$direction}: $width $type $color;
}

@mixin glow-button($dimension,$color, $glow : rgba(240, 236, 248, 0.411)) {
  position: relative;
  width: $dimension;
  height: $dimension;
  border-radius: 50%;
  background-color: $color;
  &::after{
    content: '';
    position: absolute;
    z-index: -1;
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    border-radius: 50%;
    background-color: $glow;
    animation: grow 2s infinite ease-out;
  }
  @keyframes grow {
    50%{
      opacity: 0.3;
    }
    100% {
      width: 130px;
      height: 130px;
      top: calc(50% - 65px);
      left: calc(50% - 65px);
      opacity: 0;
    }
  }
}