@import "./mixin_functions.scss";

.ss-search-container {
  @include setBorder(3px, solid, black, '-bottom');
  position: relative;
  height: 25vh;
  box-shadow: inset 0px -15px 10px -15px rgba(41, 40, 40, 0.5);
}

.ss-input-form {
  @include setBorder(3px, solid, black);
  text-align: center;
  font-size: 30px;
  border-radius: 20px;
}

$button_size: 80px;
.ss-custom-btn {
  @include glow-button($button_size, #252E3F, #00000060);
  @include setBorder(1px, solid, white);
  bottom: -#{$button_size / 2};
  left: calc(50% - #{$button_size / 2});
  color: white;
  font-size: 20px;
  &:hover {
    @include setBorder(3px, solid, white);
    box-shadow: 1px 1px 10px rgba(41, 40, 40, 0.5);
    transform: scale(1.15);
  }
}