@import "./mixin_functions.scss";
@import "./variables.scss";

.ss-container {
  position: relative;
  z-index: 10;
  height: 25vh;
  box-shadow: inset 0 -15px 10px -15px black;
  transition: $transition-1;
}

.ss-input-form {
  text-align: center;
  font-size: 30px;
  box-shadow: inset 1px 1px 10px rgb(185, 182, 182);
  border-radius: 20px;
}

$button_size: 80px;

.ss-custom-btn {
  @include glow-button($button_size, $themeColor-1,wheat );
  @include setBorder(1px, solid, white);

  bottom: -#{$button_size / 2};
  left: calc(50% - #{$button_size / 2});
  color: white;
  font-size: 20px;

  &:hover {
    @include setBorder(3px, solid, white);

    box-shadow: 1px 1px 10px rgba(41, 40, 40, 0.5);
    transform: scale(1.15);
  }
}
